# Firebase Web App Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDjMLZZ9KRX6y4Dwqizw3MaH3EonDGuEks
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=icatvote.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=icatvote
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=icatvote.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=188239743752
NEXT_PUBLIC_FIREBASE_APP_ID=1:188239743752:web:38d9d214b9700bddb63abd
